@font-face {
  font-family: 'SmileySans';
  src: url("../fonts/SmileySans-Oblique.otf.woff2") format('woff2');
}

body {
  font-family: 'SmileySans', sans-serif; /* 首先尝试使用自定义字体，如果不可用则回退到sans-serif */
  letter-spacing: 2px;
}

#home:hover {
    color: #66ccff;
    border-left: 3px solid;
    transition: 0.3s;
    filter: drop-shadow(0 0 25px #66ccff);
}

#group:hover {
    color: #ff6493;
    border-left: 3px solid;
    transition: 0.3s;
    filter: drop-shadow(0 0 25px #ff6493);
}

#checkin:hover {
    color: #6f42c1;
    border-left: 3px solid;
    transition: 0.3s;
    filter: drop-shadow(0 0 25px #6f42c1);
}

#about:hover {
    color: #00dc82;
    border-left: 3px solid;
    transition: 0.3s;
    filter: drop-shadow(0 0 25px #00dc82);
}

#register:hover {
    color: #86b7fe;
    border-left: 3px solid;
    transition: 0.3s;
    filter: drop-shadow(0 0 25px #86b7fe);
}

#login:hover {
    color: #e685b5;
    border-left: 3px solid;
    transition: 0.3s;
    filter: drop-shadow(0 0 25px #e685b5);
}

#language:hover {
    color: #a52834;
    border-left: 3px solid;
    transition: 0.3s;
    filter: drop-shadow(0 0 25px #a52834);
}

nav {
    z-index: 1000;
}

.sidebar {
    position: fixed; /* 固定定位 */
    left: 0; /* 左边距为0，确保边栏始终在左侧 */
    top: 0; /* 顶部对齐 */
    width: 60px; /* 边栏宽度 */
    height: 100%; /* 高度与视口相同 */
    padding: 58px 15px 15px;
    box-sizing: border-box; /* 确保padding不影响总宽度 */
    background: #1a1d20;
}

.content {
    /*margin-left: 30px; !* 左侧外边距，等于边栏宽度加上可能的padding或border *!*/
    margin-left: 60px;
    padding: 20px;
}

.invisible-button {
    border: none; /* 移除边框 */
    background: none; /* 移除背景 */
    padding: 0; /* 移除内边距 */
}

.form-signin {
    max-width: 330px;
    padding: 15px;
}

.form-signin .form-floating:focus-within {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.deletes {
    visibility: hidden;
    opacity: 0;
    height: 0;
}

.on-group:hover .deletes {
    visibility: visible;
    opacity: 1;
    height: auto;
    transition: 0.7s;
}

.empty-list:empty::before {
    content: "May your day be graced with the satisfaction of a task well done, each endeavor brought to its fulfillment. Congratulations on a day filled with accomplishments, and may your heart be filled with joy knowing that all your duties lie in the past, now free to embrace the present and dream of tomorrow's adventures.";
    font-size: large;
    display: block;
    padding: 10px;
    border: 3px #6ea8fe solid;
    color: #6ea8fe;
    border-radius: 20px;
    margin-top: 50px;
}

#introduce h1 {
    color: #66ccff;
    font-size: xxx-large;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
}

#introduce h2 {
    color: #0076ff;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 50px;
}

#introduce h3 {
    color: #00d9ff;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
}

#introduce p {
    font-size: x-large;
}

#introduce li {
    font-size: x-large;
}
