{% extends 'TimeTrack/base.html' %}
{% load i18n %}

{% block content %}
    <h1>{% translate 'Calendar' %}</h1>

    <div class="container mt-5">
        <h1>{{ today }}</h1>
        <div style="grid-template-columns: repeat(7, 1fr)" class="calendar d-grid gap-5">
            <div class="day">Sun</div>
            <div class="day">Mon</div>
            <div class="day">Tue</div>
            <div class="day">Wed</div>
            <div class="day">Thu</div>
            <div class="day">Fri</div>
            <div class="day">Sat</div>
        
            {% for day in days %}
                <div class="day">{{ day }}</div>
            {% endfor %}

        </div>
    </div>

{% endblock %}