{% extends 'TimeTrack/base.html' %}
{% load i18n %}

{% block content %}
    <h1 class="text-center my-3">{% translate 'All Todos' %}</h1>
    <div class="d-flex justify-content-center align-items-center">
        <a class="btn btn-primary mx-5" href="{% url 'TimeTrack:new_group' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"></path>
            </svg>
            &nbsp;{% translate 'Create New Group' %}
        </a>
        <a class="btn btn-primary mx-5" href="{% url 'TimeTrack:new_todo' %}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                 class="bi bi-plus-circle-fill" viewBox="0 0 16 16">
                <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4.5a.5.5 0 0 0-1 0v3h-3a.5.5 0 0 0 0 1h3v3a.5.5 0 0 0 1 0v-3h3a.5.5 0 0 0 0-1h-3v-3z"></path>
            </svg>
            &nbsp;{% translate 'Create New Todo' %}
        </a>
    </div>
    <div class="d-flex justify-content-center">
        <div class="accordion my-5 w-75">
            {% for each, todos in group.items %}
                <div class="on-group accordion-item">
                    <h2 class="accordion-header" id="header-{{ each.id }}" data-group-id="{{ each.id }}">
                        <a style="text-decoration-line: none; background-color: var(--bs-accordion-bg); padding: 3px; height: 42px;"
                           class="accordion-button nav-item pe-3" type="button"
                           data-bs-toggle="collapse"
                           data-bs-target="#collapse-{{ each.id }}" aria-expanded="true"
                           aria-controls="collapse-{{ each.id }}">
                            <div style="width: 100%;" class="">
                                <p class="my-auto ms-2">{{ each.name }}</p>
                            </div>
                        </a>
                    </h2>
                    <div class="position-relative">
                        <form method="post" action="{% url 'TimeTrack:delete_group' each.id %}">
                            {% csrf_token %}
                            <button style="border: 0; right: -100px; top: -40px;"
                                    class="btn btn-outline-danger mx-4 position-absolute" type="submit">{% translate 'Delete' %}
                            </button>
                        </form>
                    </div>
                    <div style="background-color: #2b3035" id="collapse-{{ each.id }}"
                         class="accordion-collapse collapse"
                         aria-labelledby="header-{{ each.id }}">
                        {% if todos %}
                            {% for todo in todos %}
                                <div class="accordion-body on-group d-flex justify-content-between"
                                     style="border-bottom:var(--bs-accordion-border-width) solid var(--bs-accordion-border-color); position: relative; {% if todo.done %} text-decoration: line-through 2px;{% endif %}">
                                    <div>
                                        <strong>{{ todo }}</strong>&nbsp;{{ todo.importance }}<br>
                                        {{ todo.description }}<br>
                                        {% translate 'Deadline' %} -- {{ todo.deadline }} --
                                        {% if todo.done %}
                                            <strong class="text-success">{% translate 'Done' %}</strong>
                                        {% else %}
                                            <strong class="text-warning">{% translate 'Undone' %}</strong>
                                        {% endif %} --
                                        {% if todo.is_expired %}
                                            <strong class="text-danger">{% translate 'Expired' %}</strong>
                                        {% else %}
                                            <strong class="text-primary">{% translate 'Undue' %}</strong>
                                        {% endif %}
                                    </div>
                                    <div class="deletes d-flex">
                                        <form method="post" action="{% url 'TimeTrack:delete_todo' todo.id %}">
                                            {% csrf_token %}
                                            <button style="border: 0"
                                                    class="btn btn-outline-warning my-auto ms-auto mx-4"
                                                    type="submit">{% translate 'Delete' %}
                                            </button>
                                        </form>
                                        <form method="post" action="{% url 'TimeTrack:done_todo' todo.id %}">
                                            {% csrf_token %}
                                            <button style="border: 0;"
                                                    class="btn btn-outline-success my-auto ms-auto mx-4"
                                                    type="submit">{% translate 'Done' %}
                                            </button>
                                        </form>
                                    </div>
                                </div>
                            {% endfor %}
                        {% else %}
                            <div style="border-bottom:var(--bs-accordion-border-width) solid var(--bs-accordion-border-color); position: relative;"
                                 class="accordion-body on-group d-flex justify-content-between">
                                <strong>{% translate 'No todo have been added yet' %}</strong>
                            </div>
                        {% endif %}
                    </div>
                </div>
            {% empty %}
                <p>{% translate 'No Groups have been added yet.' %} </p>
            {% endfor %}
        </div>
    </div>

{% endblock %}




