{% extends 'TimeTrack/base.html' %}
{% load i18n %}

{% block content %}
    <div class="container">
        <h1 class="text-center mb-4">{% translate 'My Day' %}</h1>
        <div class="d-flex justify-content-center">
        <!-- 这个布局不要再动了!!! 不然css的list-empty:empty检测不到!!!!! -->
        <div style="width: 50%;" class="list-group empty-list">{% for todo in todos %}
            <a href="#" class="list-group-item list-group-item-action">
                <span class="d-flex justify-content-between align-items-center">
                    <span>
                        <strong>
                        {{ todo.title }}
                        </strong>
                        <br>
                        {{ todo.description }}
                        <br>
                        {{ todo.deadline }} --
                        {% if todo.is_expired %}
                            <strong class="text-danger">{% translate 'Expired' %}</strong>
                        {% else %}
                            <strong class="text-primary">{% translate 'Undue' %}</strong>
                        {% endif %}
                    </span>
                    <span class="badge bg-secondary rounded-pill">{% translate 'Todo' %}</span>
                </span>
            </a>
            {% endfor %}{% for checkin in checkins %}
                <a href="#" class="list-group-item list-group-item-action">
                    <span class="d-flex justify-content-between align-items-center">
                        <span>
                            <strong>
                            {{ checkin.title }} {% translate 'every' %} {{ checkin.time }}
                            </strong>
                            <br>
                            {% translate 'from' %} {{ checkin.start }} {% translate 'to' %} {{ checkin.end }} --
                            {% if not checkin.done %}
                                <strong class="text-danger">{% translate 'Incomplete' %}</strong>
                            {% else %}
                                <strong class="text-primary">{% translate 'Done' %}</strong>
                            {% endif %}
                        </span>
                        <span class="badge bg-secondary rounded-pill">{% translate 'CheckIn' %}</span>
                    </span>
                </a>
            {% endfor %}</div>
        </div>
    </div>
{% endblock %}