{% extends 'TimeTrack/base.html' %}

{% block content %}
    <div class="container">
        <h1 class="text-center mb-4">My Day</h1>
        <div class="d-flex justify-content-center">
        <!-- 这个布局不要再动了!!! 不然css的list-empty:empty检测不到!!!!! -->
        <div style="width: 50%;" class="list-group empty-list">{% for todo in todos %}
            <a href="#" class="list-group-item list-group-item-action">
                <span class="d-flex justify-content-between align-items-center">
                    <span>
                        <strong>
                        {{ todo.title }}
                        </strong>
                        <br>
                        {{ todo.description }}
                        <br>
                        {{ todo.deadline }} --
                        {% if todo.is_expired %}
                            <strong class="text-danger">Expired</strong>
                        {% else %}
                            <strong class="text-primary">Undue</strong>
                        {% endif %}
                    </span>
                    <span class="badge bg-secondary rounded-pill">待办</span>
                </span>
            </a>
            {% endfor %}{% for checkin in checkins %}
                <a href="#" class="list-group-item list-group-item-action">
                    <span class="d-flex justify-content-between align-items-center">
                        <span>
                            <strong>
                            {{ checkin.title }} every {{ checkin.time }}
                            </strong>
                            <br>
                            from {{ checkin.start }} to {{ checkin.end }} --
                            {% if not checkin.doneToday %}
                                <strong class="text-danger">Incomplete</strong>
                            {% else %}
                                <strong class="text-primary">Done</strong>
                            {% endif %}
                        </span>
                        <span class="badge bg-secondary rounded-pill">打卡</span>
                    </span>
                </a>
            {% endfor %}</div>
        </div>
    </div>
{% endblock %}