{% extends 'TimeTrack/base.html' %}

{% block content %}


    <div class="container mt-5">
        <h2>Add New Todo</h2>
        <form method="post" class="px-4 py-3" action="{% url 'TimeTrack:new_todo' %}">
            {% csrf_token %}

            <div class="mb-3">
                <label for="group_id" class="form-label">Group</label>
                <select class="form-select" name="group" required id="group_id">
                    {% for group in form.group %}
                        {{ group }}
                    {% endfor %}
                </select>
                <div class="invalid-feedback">
                    {% for error in form.group.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            </div>

            <div class="mb-3">
                <label for="todoTitle" class="form-label">Title</label>
                <input name="title" type="text" class="form-control" id="todoTitle" placeholder="Enter title" required>
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            </div>

            <div class="mb-3">
                <label for="todoDescription" class="form-label">Description</label>
                <textarea name="description" class="form-control" id="todoDescription" rows="3"
                          placeholder="Enter description" required></textarea>
                <div class="invalid-feedback">
                    {% for error in form.description.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            </div>

            <div class="mb-3">
                <label for="todoDeadline" class="form-label">Deadline</label>
                <input name="deadline" type="datetime-local" class="form-control" id="todoDeadline" required>
                <div class="invalid-feedback">
                    {% for error in form.deadline.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            </div>

            <div class="mb-3">
                <label for="todoImportance" class="form-label">Importance</label>
                <input name="importance" type="number" class="form-control" id="todoImportance" required>
                <div class="invalid-feedback">
                    {% for error in form.importance.errors %}
                        <p>{{ error }}</p>
                    {% endfor %}
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
{% endblock %}